<!DOCTYPE html>
<html>
<head>
	<title>DeeApp</title>
	<link rel="stylesheet" type="text/css" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body ng-app="DeeApp">

<div class="container">
	<div class="jumbotron">

		<div class="row">
			<div class="col-md-12">
				<div class="panel">
					<form action="#" ng-controller="FormCtrl" ng-submit="submitForm()">

						<p>Name: <input type="text" ng-model="form.name"></p>
						
						<p>Email address: <input type="text" ng-model="form.email"></input></p>

						<p>Phone number: <input type="text" ng-model="form.number"></input></p>

						<p>Age: <input type="text" ng-model="age" maxlength="3"></input></p>

						<p>Hobby: <textarea ng-model="form.hobby"></textarea></p>

						<input type="submit"></input>

						<input type="reset" value="Clear"></input>

					</form>
				</div>
			</div>
		</div>

	</div>
</div>

<script type="text/javascript" src="node_modules/angular/angular.min.js"></script>
<script src="app.js"></script>
</body>
</html>